.alert-correct {
    background-color: rgb(34, 160, 34);
}

.alert-incorrect {
    background-color: rgb(193, 57, 57);
}

.screen {
    padding: 20px;
    width: min(90%, 600px);
}

h1 {
    padding: 20px;
}

.score {
    margin: 30px;
}

body {
    background-color: rgb(169, 218, 218);
}

div:hover {
    cursor: default;
}